<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        width: 95%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgb(55, 68, 68);
        padding: 30px;
      }
      input {
        max-width: 400px;
        width: 95%;
        border-radius: 20px;
        padding: 15px;
      }
      .btn {
        border: 2px solid black;
        border-radius: 20px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>For the gmail <%=email%></h1>
    <form method="post">
      <input
        placeholder="new-password"
        type="password"
        name="password"
        id="password"
      />
      <input
        type="confirmpassword"
        name="confirmpassword"
        id="confirmpassword"
        placeholder="confirm new password"
      />
      <input class="btn" type="submit" value="submit" />
    </form>

    <% if (status=="verified") { %>
    <script>
      confirm("Do you want to login ?");
      if (confirm) {
        console.log("ok");
        window.location.href = "https://social-mate.netlify.app/login";
      }
    </script>
    <% } %>
  </body>
</html>
